<footer id="foot" class="">
    <section id="i65hs" class="gpd-section ">
        <div id="i392i" class="gpd-container gpd-cnt ">
            <div id="i4h7ti" class="gdp-row gpd-grid ">
                <div id="template-isutrj" class="cell gpd-clm ">
                    <div id="i76zta" class="gdp-row gpd-grid ">
                        <img id="ii0r8m-2" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/dad97ef59d704ea0b66e4e5416c67f0a_new_logo_gep.png"
                        class="" />
                        <div id="ijm97l" class="cell gpd-clm ">
                            <div id="i5n2vi" class="gpd-text ">
                                <div id="template-ihvncv" class="">
                                    <textnode id="template-inodi" class="">Lorem ipsum dolor sit amet, consectetur adipi</textnode>
                                </div>
                                <br id="template-iofito" class="">
                                <div id="template-itijgk" class="">
                                    <textnode id="template-i0keo" class="">elit, sed do eiusmod tempor.</textnode>
                                </div>
                            </div>
                        </div>
                        <div id="template-i7y6p4" class="cell gpd-clm ">
                            <div id="ice5ho" class="gdp-row gpd-grid ">
                                <div id="isw977" class="cell gpd-clm ">
                                    <img id="idh1ll" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/74d85d070e6d48aa858598fa9f3be394_facebook.png"
                                    class="" />
                                    <img id="ikzg9j" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/a50adc37c753446ca05f9f65c82df3b8_linkedin_1.png"
                                    class="" />
                                    <img id="if1scf" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/2604bcb8791943e6a454c10cacff8833_youtube.png"
                                    class="" />
                                    <img id="idlto4" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/0d4177cad9074e989e8042f5907f8422_instagram.png"
                                    class="" />
                                    <img id="ia7kpk" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/edaf6370e3fe4cd4bbf1bd9d480765f9_twitter.png"
                                    class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="i0bn8h" class="cell gpd-clm ">
                    <div id="i3csxa" class="gdp-row gpd-grid ">
                        <div id="in1j2l" class="cell gpd-clm ">
                            
<h1 id="ier6xc" class="gpd-header ">
<textnode id="template-iorkb" class="">

                                Quick Links</textnode>
</h1>

                            <div id="i3hscw" class="footer-item ">
                                <div id="ievkac" class="footer-link ">
                                    <textnode id="template-is9k6" class="">Home</textnode>
                                </div>
                            </div>
                            <div id="iqzlfd" class="footer-item ">
                                <div id="i9dt9l" class="footer-link ">
                                    <textnode id="template-illt1" class="">Products</textnode>
                                </div>
                            </div>
                            <div id="i7zwid" class="footer-item ">
                                <div id="ijr9ko" class="footer-link ">
                                    <textnode id="template-iqmfj" class="">Company</textnode>
                                </div>
                            </div>
                            <div id="i0tb0e" class="footer-item ">
                                <div id="issmu9" class="footer-link ">
                                    <textnode id="template-ikdxe" class="">Resources</textnode>
                                </div>
                            </div>
                            <div id="imgkog" class="footer-item ">
                                <div id="i1wrp1" class="footer-link ">
                                    <textnode id="template-ikuru" class="">Contact</textnode>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>